[Unit]
Description=set vt color map
After=getty.target
Wants=getty.target

[Service]
Type=simple
ExecStart=/usr/local/bin/set_vt_color_map

[Install]
WantedBy=multi-user.target
