[Unit]
Description=ssh port forwading
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/sbin/ssh -p 443 ${server} -L ${binding} -N

[Install]
WantedBy=multi-user.target
